<div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>  
  <div class="row">
  <div class="card bg-light card-body" style="width:300px">
    <div class="card-header bg-primary">Status</div>
    <div class="card-text">
      <h5>{{title}}</h5>
    </div>
  </div>
  <div class="card bg-light card-body" style="width:300px">
    <div class="card-header bg-primary">Counter</div>
    <div class="card-text">
      <h5>{{title}}</h5>
      <button type="button" class="btn btn-success mr-3" (click) = "onClick()">Click Here</button>
      <button type="button" class="btn btn-success ml-3" (click) = "onRem()">Reset</button>
        
        <h6>You clicked {{counter}} times</h6>
    </div>
  </div>

  <div class="card bg-light card-body" style="width:300px">
    <div class="card-header bg-primary">Counter</div>
    <div class="card-text">
      <h5>{{title}}</h5>
        <input [(ngModel)]= "name" type="text" class="form-control" placeholder="Enter text" id="text">
        <h6>You entered: {{name}}</h6>
    </div>
  </div>

  <div *ngFor="let p of post" class="card bg-light card-body" style="width:300px">
    <div class="card-header bg-primary text-light">Blog {{p.id}}</div>
    <div class="card-text">
      <h3>Title:- {{p.title}}</h3>
      <br>
      Content:-
      <h5>{{p.content}}</h5>
    </div>
  </div>


</div>
<br><hr>
<div class="row">
  <button [routerLink]="'add'" class = "btn btn-success">ADD POST</button>
</div>
